[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "l1rotation"]
	path = l1rotation
	url = https://github.com/simonfreyaldenhoven/l1rotation
[submodule "plausibounds"]
	path = plausibounds
	url = https://github.com/simonfreyaldenhoven/plausibounds
